#tab-studio {

}
#studioTimelineStrip {
    height: 60px;
    background: rgba(0,0,0,0.3);
    position: relative;
    border-radius: 5px;
}
#studio-slice-selection {
    transition: none;
    height: 100%;
    background: rgb(216 230 249 / 70%);
    border-radius: 5px;
    position: absolute;
    cursor: e-resize;
}
#studio-time-ticks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
#studio-time-ticks .tick {
    position: absolute;
    border-left:1px solid rgba(0,0,0,0.1);
    height: 100%;
}
#studio-seek-tick {
    position: absolute;
    border-left: 2px solid #fffc00;
    border-radius: 5px;
    transition: none;
    height: 80%;
    top: 10%;
    left: 10%;
}
#studio-time-ticks .tick span {
    left: -50%;
    position: relative;
    font-size: 80%;
    font-family: monospace;
}
